﻿@using EFNAPWeb.Helpers
@using EFNAP.Domain
@using EFNAP.Services
@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="description" content="">
    <meta name="author" content="">
    <title>EFNAP</title>
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")">
    <link href="~/CSS/Common/bootstrap.min.css" rel="stylesheet" />
    <link href="~/CSS/Common/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/CSS/fonts/fonts.css" rel="stylesheet" />
    <link href="~/CSS/Custom/font-awesome.min.css" rel="stylesheet" />
    <link href="~/CSS/Custom/style.css" rel="stylesheet" />
    <link href="~/CSS/Common/easy-responsive-tabs.css" rel="stylesheet" />
    <link href="~/CSS/Common/select2.min.css" rel="stylesheet" />
    <link href="~/CSS/Common/jquery.smartmenus.bootstrap.css" rel="stylesheet" />
    <link href="~/CSS/Common/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />
    <link href="~/CSS/Common/bootstrap-switch.min.css" rel="stylesheet" />
    <link href="~/CSS/Common/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="~/Scripts/Common/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/Common/bootstrap.min.js"></script>
    <script src="~/Scripts/Common/jquery.validate.min.js"></script>
    <script src="~/Scripts/Common/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/Common/twitter-bootstrap-hover-dropdown.min.js"></script>
    <script src="~/Scripts/Common/jquery.smartmenus.js"></script>
    <script src="~/Scripts/Common/jquery.smartmenus.bootstrap.js"></script>
    <script src="~/Scripts/Common/easy-responsive-tabs.js"></script>
    <script src="~/Scripts/Common/bootstrap-switch.min.js"></script>
    <script src="~/Scripts/Custom/common.js"></script>
    <script src="~/Scripts/Common/moment.min.js"></script>
    <script src="~/Scripts/Common/bootstrap-datetimepicker.js"></script>
    @*@Styles.Render("~/CSS/MainCommon")*@
    <!----Header-css---->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="@Url.Content("~/Scripts/Common/html5shiv.js")"></script>
    <script src="@Url.Content("~/Scripts/Common/respond.min.js")"></script>
    <![endif]-->
    <script type="text/javascript">var SiteBaseUrl = "@Url.Content("~")";</script>
    @*@Scripts.Render("~/Scripts/TopScript")*@
</head>
<body>
    <div class="headerbg">
        <div class="col-md-12">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-7">
                    <a href="@Url.Action("Home","Home")" class="logo">
                        <img src="@Url.Content("~/Images/logo.png")" class="img-responsive gog" alt="Hunger Hotline">
                    </a>
                </div>
                <div class="col-xs-10 col-sm-6 col-md-5">
                    <div class="hdrightpart">
                        <ul class="topuserpart">
                            <li class="userphoto">
                                <a href="javascript:;" id="popoverExampleTwo" data-placement="bottom">
                                    <div class="userimg"><a href="@Url.Action("Home","Home")"><img src="@Url.Content("~/Images/user-photo.png")"></a></div>
                                    <span class="user-span">@CurrentAdminSession.FirstName @CurrentAdminSession.LastName</span>
                                </a>
                            </li>
                            <div id="userdetails" style="display: none">
                                <div>
                                    <div class="prodetailstop">
                                        <ul>
                                            <li>EMAIL:<a href="mailto:@CurrentAdminSession.Email">@CurrentAdminSession.Email</a></li>
                                            @Html.Hidden("UserID", Session["UserID"])
                                            @Html.Hidden("UserName", Session["UserName"])
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <li class="iconlink"> @*<a title="Profile" href="@Url.Action("Index", "Profile")"><i class="fa fa-pencil-square-o"></i></a>*@ </li>
                            <li class="iconlink"> <a title="Logout" href="@Url.Action("LogOut","Home")"><i class="fa fa-sign-out"></i></a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 visible-xs visible-sm hidden-sm hidden-md visible-md">
                    <div class="hdrightpart">
                        <div class="visible-xs visible-sm visible-md topmenuicon">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                        </div>
                        <div class="leftmenuicon inmobile">
                            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">
                                <a href="@Url.Action("Home","Home")"><i class="glyphicon fa fa-home"></i></a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 topnavbg">
                    <div class="row">
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav topnav">
                                <li class="inipad">
                                    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas" onclick='window.location="@Url.Action("Home","Home")"'>
                                        <i class="fa fa fa-home"></i>
                                    </button>
                                </li>
                                <li class="firstlink"><a href="@Url.Action("Home","Home")">DASHBOARD</a></li>
                                @foreach (EFNAP.Domain.vwRolePrivileges dtMainItem in (IList<EFNAP.Domain.vwRolePrivileges>)Session["MainItems"])
                                {
                                    <li>
                                        <a href="javascript:;">@Html.Encode(Convert.ToString(dtMainItem.MenuItem)) <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            @foreach (vwRolePrivileges dtMenuItemSecond in (IList<EFNAP.Domain.vwRolePrivileges>)Session["MenuItems"])
                                            {
                                                if (dtMenuItemSecond.ParentID == dtMainItem.MenuItemID)
                                                {
                                                    <li>
                                                        @{
                                                    IList<vwRolePrivileges> objMainMenu = (IList<vwRolePrivileges>)Session["MenuItems"];
                                                    var menulist = objMainMenu.Where(p => p.ParentID == dtMenuItemSecond.MenuItemID).ToList();
                                                    if (menulist.Count > 0)
                                                    {
                                                        <a href="javascript:;">@Html.Encode(Convert.ToString(dtMenuItemSecond.MenuItem))<span class="caret"></span></a>
                                                            <ul class="dropdown-menu">
                                                                @foreach (vwRolePrivileges dtMenuThird in menulist)
                                                                {
                                                                    <li>
                                                                        <a href="@Url.Content("~/"+ Convert.ToString(Html.Encode(Convert.ToString(dtMenuThird.MenuItemController)) + "/" + Html.Encode(Convert.ToString(dtMenuThird.MenuItemView))))">
                                                                            @Html.Encode(Convert.ToString(dtMenuThird.MenuItem))
                                                                        </a>
                                                                    </li>
                                                                }
                                                            </ul>
                                                    }
                                                    else
                                                    {
                                                        <a href="@Url.Content("~/" + Convert.ToString(Html.Encode(Convert.ToString(dtMenuItemSecond.MenuItemController)) + "/" + Html.Encode(Convert.ToString(dtMenuItemSecond.MenuItemView))))">
                                                            @Html.Encode(Convert.ToString(dtMenuItemSecond.MenuItem))
                                                        </a>
                                                    }
                                                        }
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    @RenderSection("LeftPanel", required: false)
    <div id="main">
        @RenderBody()
    </div>
    <div class="col-md-12 footerbg">
        <footer>
            <div class="row">
                <div class="col-xs-12 col-sm-12 copyright">&copy; @DateTime.Now.Year EFNAP. All Rights Reserved.</div>
            </div> 
        </footer>
    </div>
    
    @*@Scripts.Render("~/Scripts/CommonAll")*@
</body>
</html>