﻿@model EFNAPWeb.Models.ValidateUser
@using EFNAPWeb.Common
@{
    ViewBag.Title = "Add User";
    Html.EnableClientValidation();
}
<link href="@Url.Content("~/CSS/Common/datepicker.css")" rel="stylesheet" />
<div class="col-md-12 rightpartspace anounce-wrp">
    <div class="row">
        <div class="col-md-12">
            <h1 class="maintitle border-bottom">Add User</h1>            
            @using (Html.BeginForm("Create", "User", FormMethod.Post, new { @class = "form-group dmsform" }))
            {
                <div class="row">
                    <div class="col-xs-12">
                        @Html.ValidationSummary()
                        <div class="alert alert-success alert-cus" style="display:none;" id="SuccessMessage">
                        </div>
                        <div class="alert alert-danger alert-cus" style="display:none;" id="ErrorMessage">
                        </div>                        
                        @if (Request.QueryString["Msg"] != null && Request.QueryString["Msg"].ToString().ToLower() == "dup")
                        {
                            <div class="alert alert-danger alert-cus">
                                <ul>
                                    <li>@Html.Encode(String.Format(Messages.AlreadyExists, "User"))</li>
                                </ul>
                            </div>
                        }
                    </div>
                    <div class="form-group col-sm-6 col-md-4">
                        <label for="">Username<span class="mandatory">*</span></label>
                        @Html.TextBoxFor(model => model.Username, new { @class = "form-control fm-control", @maxlength = 20, @placeholder="Username"})
                    </div>
                    <div class="form-group col-sm-6 col-md-4">
                        <label for="">Password<span class="mandatory">*</span></label>
                        @Html.TextBoxFor(model => model.Password, new { @type = "password", @class = "form-control fm-control", @maxlength = 20, @placeholder = "Password" })
                        <span class="green" name="result" id='passComment'></span>
                    </div>
                    <div class="form-group col-sm-6 col-md-4">
                        <label for="">Confirm Password<span class="mandatory">*</span></label>
                        @Html.TextBoxFor(model => model.ConfirmPassword, new { @type = "password", @class = "form-control fm-control", @maxlength = 20, onchange = "funCofirmPassword();", @placeholder = "Confirm Password" })
                        &nbsp;&nbsp;<span id='spanConfirm'></span>
                    </div>
                    <div class="form-group col-sm-6 col-md-4">
                        <label for="">First Name<span class="mandatory">*</span></label>
                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control fm-control", @maxlength = 50, @placeholder="First Name" })                        
                    </div>
                    <div class="form-group col-sm-6 col-md-4">
                        <label for="">Last Name<span class="mandatory">*</span></label>
                        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control fm-control", @maxlength = 50, @placeholder = "Last Name" })                         
                    </div>
                    <div class="form-group col-sm-6 col-md-4">
                        <label for="">Email<span class="mandatory">*</span></label>
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control fm-control", @maxlength = 250, @placeholder = "Email" })                        
                    </div>
                    <div class="form-group col-sm-6 col-md-4">
                        <label for="">Phone<span class="mandatory">*</span></label>
                        @Html.TextBoxFor(model => model.Telephone, new { @class = "form-control fm-control", @maxlength = 10, onkeypress = "return onlyNumbers(event);", @placeholder = "Phone" })                         
                    </div>
                    <div class="form-group col-sm-6 col-md-4">
                        <label for="">Role<span class="mandatory">*</span></label>
                        @Html.DropDownListFor(model => model.RoleID, Model.SelectRole, "- Select Role -", new { @class = "form-control"})
                    </div>
                    <div class="form-group col-sm-6 col-md-4">
                        <label for="">Date of Birth</label>
                        @Html.TextBoxFor(model => model.DateOfBirth, new { @class = "form-control", @maxlength = 10 })                        
                    </div>
                    <div class="form-group col-sm-6 col-md-4">
                        <label for="">Country<span class="mandatory">*</span></label>
                        @Html.DropDownListFor(model => model.CountryID, Model.CountryList, "- Select Country -", new { @class = "form-control", @placeholder = "Country" })
                    </div>
                    <div class="form-group col-sm-6 col-md-4">
                        <label for="">State<span class="mandatory">*</span></label>
                        @Html.DropDownListFor(model => model.StateID, Model.StateList, "- Select State -", new { @class = "form-control", @placeholder = "State" })
                    </div>
                    <div class="form-group col-sm-6 col-md-4">
                        <label for="">City<span class="mandatory">*</span></label>
                        @Html.DropDownListFor(model => model.CityID, Model.CityList, "- Select City -", new { @class = "form-control", @placeholder = "City" })
                    </div>
                    <div class="form-group col-sm-6 col-md-4">
                        <label for="LastName">Status</label>
                        <span class="clearfix"></span>
                        @Html.CheckBoxFor(model => model.IsActive, new { @class = "form-control IsActiveStatus" })                        
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="form-group col-sm-4 col-md-4 mtp10">
                                <button name="btnSubmit" type="submit" class="btn btn-primary bluebtn" id="btnSubmit" value="Save" title="Save">
                                    Save
                                </button>
                                <a href="@Url.Action("Index","User") " title="Back" class="btn graybtn">Back</a>                                
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/Common/bootstrap-datepicker.js")"></script>
<script src="@Url.Content("~/Scripts/Custom/passwordStrengthMeter.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Custom/User.js")" type="text/javascript"></script>
