﻿@model EFNAPWeb.Models.ValidateUser
@{
    ViewBag.Title = "User Detail";
    Html.EnableClientValidation();
}
<div class="col-md-12 rightpartspace anounce-wrp">
    <div class="row">
        <div class="col-md-12">
            <h1 class="maintitle border-bottom">User Detail</h1>
            <form class="form-group dmsform">                
                <div class="row">
                    <div class="form-group col-sm-6 col-md-4">
                        <label for=""><b>Username:</b></label>
                        @Html.Raw(Model.Username)
                    </div>
                    <div class="form-group col-sm-6 col-md-4">
                        <label for=""><b>First Name:</b></label>
                        @Html.Raw(Model.FirstName)
                    </div>
                    <div class="form-group col-sm-6 col-md-4">
                        <label for=""><b>Last Name:</b></label>
                        @Html.Raw(Model.LastName)
                    </div>
                    <div class="form-group col-sm-6 col-md-4">
                        <label for=""><b>Email:</b></label>
                        @Html.Raw(Model.Email)
                    </div>
                    <div class="form-group col-sm-6 col-md-4">
                        <label for=""><b>Phone:</b></label>
                        @Html.Raw(Model.Telephone)
                    </div>
                    <div class="form-group col-sm-6 col-md-4">
                        <label for=""><b>State:</b></label>
                        @Html.Raw(Model.State)
                    </div>
                    <div class="form-group col-sm-6 col-md-4">
                        <label for=""><b>Country:</b></label>
                        @Html.Raw(Model.Country)
                    </div>
                    <div class="form-group col-sm-6 col-md-4">
                        <label for=""><b>City:</b></label>
                        @Html.Raw(Model.City)
                    </div>
                    <div class="form-group col-sm-6 col-md-4">
                        <label for=""><b>Role:</b></label>
                        @Html.Raw(Model.Role)
                    </div>
                    <div class="form-group col-sm-6 col-md-4">
                        <label for=""><b>Date of Birth:</b></label>
                        @Html.Raw(String.Format("{0:MM/dd/yyyy}", Model.dtDateOfBirth))
                    </div>
                    <div class="form-group col-sm-6 col-md-4">
                        <label for="LastName"><b>Status:</b></label>
                        @Html.Raw(Model.Active)
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="form-group col-sm-4 col-md-4 mtp10">
                                <a href="@Url.Action("Index","User") " title="Back" class="btn graybtn">Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>