﻿@model EFNAPWeb.Models.ValidateUser
@using EFNAPWeb.Helpers;
@using EFNAPWeb.Common;
@{
    ViewBag.Title = "User Management";
    Html.EnableClientValidation();
}
<link href="~/CSS/Common/grid-0.4.3.min.css" rel="stylesheet" />
<div class="col-md-12 rightpartspace anounce-wrp">
    <div class="row">
        <div class="col-md-12">
            <h1 class="maintitle border-bottom">User Management</h1>
            <div class="row form-group dmsform">
                <div class="form-group col-sm-6 col-md-4">
                    <label for="">First Name</label>
                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control fm-control", @maxlength = 50, @placeholder = "First Name" })
                </div>
                <div class="form-group col-sm-6 col-md-4">
                    <label for="">Last Name</label>
                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control fm-control", @maxlength = 50, @placeholder = "Last Name" })
                </div>
                <div class="form-group col-sm-6 col-md-4">
                    <label for="">Email</label>
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control fm-control", @maxlength = 20, @placeholder = "Email" })
                </div>
                <div class="form-group col-sm-6 col-md-4">
                    <label for="">Phone</label>
                    @Html.TextBoxFor(model => model.Telephone, new { @class = "form-control fm-control", @maxlength = 20, @placeholder = "Phone" })
                </div>
                <div class="form-group col-sm-4 col-md-2 mtp20">
                    <button type="button" id="btnSearch" class="btn btn-primary bluebtn" title="Search" onclick="Search()">Search</button>
                    <button type="reset" class="btn btn-primary bluebtn" title="Reset" onclick="Reset()">Reset</button>
                </div>
                @if (CurrentAdminSession.HasAddPermission)
                {
                    <div class="col-xs-12 mtp10 mbp10">
                        <button type="submit" title="Add" class="btn btn-primary bluebtn" onclick="window.location.href = '@Url.Action("Create", "User")'"><i class="fa fa-plus"></i> Add</button>
                    </div>
                }
            </div>
            @Html.Partial("CommonMessages", Model.ModuleName)
            <div class="table-responsive">
                <table id="grid" class="table" data-source="@Url.Action("GetUsersList","User")"></table>
            </div>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/Common/grid-0.4.3.min.js")"></script>
<script src="@Url.Content("~/Scripts/Custom/User.js")"></script>
<script type="text/javascript">
var grid;
$(document).ready(function () {
    grid = $("#grid").grid({
        dataKey: "UserID",
        uiLibrary: "bootstrap",
        columns: [
        //{ field: "UserID", width: 50, sortable: true },
        { title: "", field: "Edit", width: 34, type: "icon", icon: "glyphicon-pencil", tooltip: "Edit", events: { "click": Edit } },
        { title: "", field: "Delete", width: 34, type: "icon", icon: "glyphicon-remove", tooltip: "Delete", events: { "click": Remove } },
        { title: "", field: "Detail", width: 34, type: "icon", icon: "glyphicon-info-sign", tooltip: "Detail", events: { "click": Detail } },
        { field: "FirstName", title: "First Name", sortable: true },
        { field: "LastName", title: "Last Name", sortable: true },
        { field: "Email", title: "Email", sortable: true },
        { field: "Telephone", title: "Phone", sortable: true },
        { field: "Active", title: "Status", sortable: true },
        ],
        pager: { enable: true, limit: 10, sizes: [2, 5, 10, 20] }
    });

    if (document.layers) {
        document.captureEvents(Event.KEYDOWN);
    }

    document.onkeydown = function (evt) {
        var keyCode = evt ? (evt.which ? evt.which : evt.keyCode) : event.keyCode;
        if (keyCode == 13) {
            $("#btnSearch").click();
        }
        else {
            return true;
        }
    };
});
function Edit(e) {
    if ("@CurrentAdminSession.HasEditPermission" === "True") {
        var id = e.data.id;
        var target = SiteBaseUrl + "User/Edit/" + id;
        location.href = target;
    }
}
function Detail(e) {
    if ("@CurrentAdminSession.HasDetailPermission" === "True") {
        var id = e.data.id;
        var target = SiteBaseUrl + "User/Detail/" + id;
        location.href = target;
    }
}
function Remove(e) {
    if ("@CurrentAdminSession.HasDeletePermission" === "True") {
        if (confirm('Are you sure ? Do you want to delete this record.')) {
            $.ajax({ url: SiteBaseUrl + "User/Delete", type: "POST", data: { id: e.data.id } })
            .done(function (result) {
                if (result.msg) {
                    var target = SiteBaseUrl + "User/Index?msg=" + result.msg;
                    location.href = target;
                }
                else {
                    alert("Some error occured.");
                }
            })
            .fail(function () {
                alert("Unable to remove.");
            });
        }
    }
}
function Search() {
    grid.reload({ firstName: $("#FirstName").val(), lastName: $("#LastName").val(), email: $("#Email").val(), phone: $("#Telephone").val() });
}
function Reset() {
    $("#FirstName").val(""); $("#LastName").val(""); $("#Email").val(""); $("#Telephone").val("");
    grid.reload({ firstName: null, lastName: null, email: null, phone: null });
}
</script>