/* ==========================================================================
   Font Face
   ========================================================================== */
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('glyphicons-halflings-regular.eot');
    src: url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
         url('glyphicons-halflings-regular.woff') format('woff'),
         url('glyphicons-halflings-regular.ttf') format('truetype'),
         url('glyphicons-halflings-regular.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}  

@font-face {
    font-family: 'open_sansregular';
    src: url('opensans-regular_0-webfont.eot');
    src: url('opensans-regular_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-regular_0-webfont.woff2') format('woff2'),
         url('opensans-regular_0-webfont.woff') format('woff'),
         url('opensans-regular_0-webfont.ttf') format('truetype'),
         url('opensans-regular_0-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('opensans-semibold_0-webfont.eot');
    src: url('opensans-semibold_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-semibold_0-webfont.woff2') format('woff2'),
         url('opensans-semibold_0-webfont.woff') format('woff'),
         url('opensans-semibold_0-webfont.ttf') format('truetype'),
         url('opensans-semibold_0-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
    src: url('opensans-light_0-webfont.eot');
    src: url('opensans-light_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-light_0-webfont.woff2') format('woff2'),
         url('opensans-light_0-webfont.woff') format('woff'),
         url('opensans-light_0-webfont.ttf') format('truetype'),
         url('opensans-light_0-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold';
    src: url('opensans-bold_0-webfont.eot');
    src: url('opensans-bold_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-bold_0-webfont.woff2') format('woff2'),
         url('opensans-bold_0-webfont.woff') format('woff'),
         url('opensans-bold_0-webfont.ttf') format('truetype'),
         url('opensans-bold_0-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_novalight';
    src: url('proximanova-light_1-webfont.eot');
    src: url('proximanova-light_1-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanova-light_1-webfont.woff2') format('woff2'),
         url('proximanova-light_1-webfont.woff') format('woff'),
         url('proximanova-light_1-webfont.ttf') format('truetype'),
         url('proximanova-light_1-webfont.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('proximanova-regular_0-webfont.eot');
    src: url('proximanova-regular_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanova-regular_0-webfont.woff2') format('woff2'),
         url('proximanova-regular_0-webfont.woff') format('woff'),
         url('proximanova-regular_0-webfont.ttf') format('truetype'),
         url('proximanova-regular_0-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ropa_sansregular';
    src: url('ropasans-regular-webfont.eot');
    src: url('ropasans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('ropasans-regular-webfont.woff2') format('woff2'),
         url('ropasans-regular-webfont.woff') format('woff'),
         url('ropasans-regular-webfont.ttf') format('truetype'),
         url('ropasans-regular-webfont.svg#ropa_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}