﻿@{
    ViewBag.Title = "Dashboard";
}
<style>
    body, html, .row-offcanvas {
        background: #ecf0f1 !important;
    }
</style>
<div class="col-md-12 rightpartspace anounce-wrp bg-contant">
    <div class="row">
        <div class="col-md-12">
            <div class="row mtp5">
                 
            </div>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/Custom/Home.js")" type="text/javascript"></script>