﻿@using System.Web.Optimization
@{    
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>EFNAP</title>
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")">    
    <link href="~/CSS/Common/bootstrap.min.css" rel="stylesheet" />
    <link href="~/CSS/Common/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/CSS/fonts/fonts.css" rel="stylesheet" />
    <link href="~/CSS/Custom/font-awesome.min.css" rel="stylesheet" />
    <link href="~/CSS/Custom/style.css" rel="stylesheet" />
    <link href="~/CSS/Common/easy-responsive-tabs.css" rel="stylesheet" />
    <link href="~/CSS/Common/select2.min.css" rel="stylesheet" />
    <link href="~/CSS/Common/jquery.smartmenus.bootstrap.css" rel="stylesheet" />
    <link href="~/CSS/Common/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />  
    @*@Styles.Render("~/CSS/FrontCommon")*@ 
</head>
<body>
    <header class="log-header">
        <div class="logo-warper">
            <img src="~/Images/logo.png" />
        </div> 
        <span class="top-text">Welcome to ABC Programs</span>
         
        <div class="fix"></div>
    </header>
    
    <div class="container-fluid bg-warper">
        <div class="container pd-top-50">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                    <div class="login-box">
                        
                        <div class="panel panel-default login-panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">Please Sign In</h3>
                            </div>
                            <div class="panel-body">
                                @using (Html.BeginForm("Index", "Home", "POST"))
                                {
                                    <div class="alert alert-danger" id="messageLogin" style="display: none;">
                                    </div>
                                    if (Request.QueryString["Msg"] != null && Request.QueryString["Msg"].ToString().ToLower() == "unauthorised")
                                    {
                                        <div class="alert alert-danger" id="authorisemsg">
                                            @Html.Raw("You are not authorized to view this page.")
                                        </div>
                                    }
                                    if (Request.QueryString["Msg"] != null && Request.QueryString["Msg"].ToString() == "Logout" && Request.Form["btnSumit"] == null)
                                    {
                                        <div class="alert alert-danger" id="logoutmsg">
                                            @Html.Raw("You are successfully log out from the syste.")
                                        </div>
                                    }
                                    @*if (Request.QueryString["Msg"] != null && Request.QueryString["Msg"].ToString() == "Forgot")
                                        {
                                            <div class="alert alert-success" id="msgUnAuthorized">
                                                @Html.Raw(String.Format(Messages.ResetPasswordMail))
                                            </div>
                                        }
                                        if (Request.QueryString["Msg"] != null && Request.QueryString["Msg"].ToString() == "Reset")
                                        {
                                            <div class="alert alert-success" id="msgUnAuthorized">
                                                @Html.Raw(String.Format(Messages.SuccessResetPassword))
                                            </div>
                                        }
                                        if (Request.QueryString["Msg"] != null && Request.QueryString["Msg"].ToString().ToLower() == "changed")
                                        {
                                            <div class="alert alert-success" id="msgUnAuthorized">
                                                @Html.Raw(String.Format(Messages.SuccessChanged, "Password"))
                                            </div>
                                        }*@
                                    <div>@Html.ValidationSummary(false, "")</div>
                                    <fieldset>
                                        <div class="form-group">
                                            <input name="UserName" type="text" class="form-control" id="UserName" autofocus placeholder="Username" />
                                        </div>
                                        <div class="form-group">
                                            <input name="UserPassword" type="password" placeholder="Password" class="form-control" id="UserPassword" />
                                        </div>
                                        @*<div class="row mbp10">
                                                <div class="checkbox col-xs-6">
                                                </div>
                                                <div class="col-xs-6 mtp10 text-right"><a href="@Url.Action("Index","ForgotPassword")" title="Forgot Password" ><u>Forgot Password?</u></a></div>
                                            </div>*@
                                        <input name="btnSumit" type="submit" id="btnSumit" title="Login" value="Login" class="btn bluebtnbig btn-block" onclick="javascript: return validateLogin();" />
                                    </fieldset>

                                }
                            </div>
                        </div>
                    </div>
                    <footer>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 copy-right">&copy; @DateTime.Now.Year EFNAP  All Rights Reserved.</div>
                        </div>
                    </footer>  
                </div>
            </div>
        </div>
        <div class="footer-nav">
            <ul class="f-ul">
                <li>
                    <a href="#">About HRA</a>
                </li>
                <li>
                    <a href="#">Feedback</a>
                </li>
                <li>
                    <a href="#">Sitemap</a>
                </li>
                <li>
                    <a href="#">Search</a>
                </li>
            </ul>
        </div>
        <!--end footer nav-->
    </div>
    <script src="~/Scripts/Common/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/Common/bootstrap.min.js"></script>
    <script src="~/Scripts/Common/jquery.validate.min.js"></script>
    <script src="~/Scripts/Common/jquery.validate.unobtrusive.min.js"></script>
    @*@Scripts.Render("~/Scripts/FrontCommon")*@
    <script src="@Url.Content("~/Scripts/Custom/FrontLogin.js")"></script>
</body>
</html>