
ul.resp-tabs-list,
p {
  margin: 0px;
  padding: 0px;
}

.resp-tabs-list li {

  display: inline-block;
  padding: 7px 20px;
  margin: 6px 7px 0 0;
  list-style: none;
  cursor: pointer;
  float: left;
	background: #ededed;
color: #95a5a6;
	font-family: 'open_sansbold';
	font-size: 18px;
}
.resp-tabs-list li .badge{
	background: #bec8c9 none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff;
    font-family: 'open_sanslight';
    font-size: 14px;
    margin-top: 0;
    padding: 4px 8px;
	margin-left: 8px;
}

.resp-tabs-container {
  padding: 0px;
  background-color: #fff;
  clear: left;
}

h2.resp-accordion {
  cursor: pointer;
  padding: 5px;
  display: none;
font: 15px/20px 'aleoregular'!important;
color: #262626!important;
}

.resp-tab-content {
  display: none;
  padding: 15px 15px;
}

.nospace table{
	margin-bottom: 0px;
}

.resp-tab-active {
  border: 1px solid #c1c1c1;
  border-bottom: none;
  margin-bottom: -1px !important;
  padding: 12px 20px 8px !important;
border-top: solid 1px #c1c1c1!important;
	margin-top: 0px!important;
	color: #8e44ad!important;
	
}
.resp-tab-active .badge{background: #ff7878!important;}

.resp-tab-active {
  border-bottom: none;
  background-color: #fff!important;
	
}

.resp-content-active,
.resp-accordion-active { display: block; }

.resp-tab-content { border: 1px solid #c1c1c1; }

h2.resp-accordion {
  font-size: 13px;
  border: 1px solid #c1c1c1;
  border-top: 1px solid #c1c1c1;
  margin: -1px 0 0 0;
  padding: 10px 15px;
 background: #ededed!important;
}

h2.resp-tab-active {
  border-bottom: 0px solid #c1c1c1 !important;
  margin-bottom: 0px !important;
  padding: 10px 15px !important;
background: #fff!important;
	
}

h2.resp-tab-title:last-child {
  border-bottom: 12px solid #c1c1c1 !important;
  background: blue;
}

/*-----------Vertical tabs-----------*/

.resp-vtabs ul.resp-tabs-list {
  float: left;
  width: 30%;
}

.resp-vtabs .resp-tabs-list li {
  display: block;
  padding: 15px 15px !important;
  margin: 0;
  cursor: pointer;
  float: none;
}

.resp-vtabs .resp-tabs-container {
  padding: 0px;
  background-color: #fff;
  border: 1px solid #c1c1c1;
  float: left;
  width: 68%;
  min-height: 250px;
  border-radius: 4px;
  clear: none;
}

.resp-vtabs .resp-tab-content { border: none; }

.resp-vtabs li.resp-tab-active {
  border: 1px solid #c1c1c1;
  border-right: none;
  background-color: #fff;
  position: relative;
  z-index: 1;
  margin-right: -1px !important;
  padding: 14px 15px 15px 14px !important;
	
}

.resp-arrow {
  width: 0;
  height: 0;
  float: right;
  margin-top: 3px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 12px solid #c1c1c1;
}

h2.resp-tab-active span.resp-arrow {
  border: none;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid #9B9797;
}

/*-----------Accordion styles-----------*/

h2.resp-tab-active { background: #DBDBDB !important; background: #ffffff!important; color: #8e44ad!important; }

.resp-easy-accordion h2.resp-accordion { display: block; }

.resp-easy-accordion .resp-tab-content { border: 1px solid #c1c1c1; }

.resp-easy-accordion .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1 !important; }

.resp-jfit {
  width: 100%;
  margin: 0px;
}

.resp-tab-content-active { display: block; }

h2.resp-accordion:first-child { border-top: 1px solid #c1c1c1 !important; }
h2.resp-accordion .badge{
	background: #bec8c9 none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff;
    font-family: 'open_sanslight';
    font-size: 12px;
    margin-top: 0;
    padding: 4px 8px;
	margin-left: 8px;
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {

ul.resp-tabs-list { display: none; }

h2.resp-accordion { display: block; clear: both; 
	color: #95a5a6!important;
	font-family: 'open_sansbold'!important;
	font-size: 18px!important; }
h2.resp-tab-active { color: #8e44ad!important; }
.resp-vtabs .resp-tab-content { border: 1px solid #C1C1C1; }

.resp-vtabs .resp-tabs-container {
  border: none;
  float: none;
  width: 100%;
  min-height: initial;
  clear: none;
}

.resp-accordion-closed { display: none !important; }

.resp-vtabs .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1 !important; }
}
