﻿@charset "utf-8";
/* CSS Document */

html {
    -webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
}

h1, h2, h3, h4, h5, h6, ul, ol, li, form, input, textarea, select {
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}

a {
    text-decoration: none;
    outline: none !important;
    outline-color: transparent !important;
}

    a:link, a:hover {
        text-decoration: none;
    }

button {
    outline: none !important;
    outline-color: transparent !important;
}

.inipad button {
    background: #e3e3e3 !important;
    border: 0px !important;
    color: #365b80 !important;
    font-size: 21px;
    margin-left: -15px;
    margin-top: -4px;
    padding: 5px 9px 4px;
    border-radius: 0px !important;
}
.bg-contant{
    background-image:url(../images/bc-home.jpg);
    background-size:cover;
    height:100%;
    margin:0px !important;
}
.mrp0 {
    margin-right: 0px;
}

.mrp3 {
    margin-right: 3px;
}

.mrp5 {
    margin-right: 5px;
}

.mrp10 {
    margin-right: 10px;
}

.mrp15 {
    margin-right: 15px;
}

.mrp20 {
    margin-right: 20px;
}

.mrp25 {
    margin-right: 25px;
}

.mrp30 {
    margin-right: 30px;
}

.mrp35 {
    margin-right: 35px;
}

.mrp40 {
    margin-right: 40px;
}

.mrp45 {
    margin-right: 45px;
}

.mlp0 {
    margin-left: 0px;
}

.mlp3 {
    margin-left: 3px;
}

.mlp5 {
    margin-left: 5px;
}

.mlp10 {
    margin-left: 10px;
}

.mlp15 {
    margin-left: 15px;
}

.mlp20 {
    margin-left: 20px;
}

.mlp25 {
    margin-left: 25px;
}

.mlp30 {
    margin-left: 30px;
}

.mlp35 {
    margin-left: 35px;
}

.mlp40 {
    margin-left: 40px;
}

.mlp45 {
    margin-left: 45px;
}

.mtp0 {
    margin-top: 0px;
}

.mtp3 {
    margin-top: 3px;
}

.mtp5 {
    margin-top: 5px;
}

.mtp10 {
    margin-top: 10px;
}

.mtp15 {
    margin-top: 15px;
}

.mtp20 {
    margin-top: 20px;
}

.mtp25 {
    margin-top: 25px;
}

.mtp30 {
    margin-top: 30px;
}

.mtp35 {
    margin-top: 35px;
}

.mtp40 {
    margin-top: 40px;
}

.mtp45 {
    margin-top: 45px;
}

.mbp0 {
    margin-bottom: 0px;
}

.mbp5 {
    margin-bottom: 5px;
}

.mbp10 {
    margin-bottom: 10px;
}

.mbp15 {
    margin-bottom: 15px;
}

.mbp20 {
    margin-bottom: 20px;
}

.mbp25 {
    margin-bottom: 25px;
}

.mbp30 {
    margin-bottom: 30px;
}

.mbp35 {
    margin-bottom: 35px;
}

.mbp40 {
    margin-bottom: 40px;
}

.mbp45 {
    margin-bottom: 45px;
}

.ptp0 {
    padding-top: 0px;
}

.ptp5 {
    padding-top: 5px;
}

.ptp10 {
    padding-top: 10px;
}

.ptp15 {
    padding-top: 15px;
}

.ptp20 {
    padding-top: 20px;
}
.user-span{
    position: relative;
    top: 6px;
    left: 6px;
}
}
.ptp25 {
    padding-top: 25px;
}

.ptp30 {
    padding-top: 30px;
}

.ptp35 {
    padding-top: 35px;
}

.ptp40 {
    padding-top: 40px;
}

.ptp45 {
    padding-top: 45px;
}

.pbp0 {
    padding-bottom: 0px;
}

.pbp5 {
    padding-bottom: 5px;
}

.pbp10 {
    padding-bottom: 10px;
}

.pbp15 {
    padding-bottom: 15px;
}

.pbp20 {
    padding-bottom: 20px;
}

.pbp25 {
    padding-bottom: 25px;
}

.pbp30 {
    padding-bottom: 30px;
}

.pbp35 {
    padding-bottom: 35px;
}

.pbp40 {
    padding-bottom: 40px;
}

.pbp45 {
    padding-bottom: 45px;
}

.plp0 {
    padding-left: 0px;
}

.plp5 {
    padding-left: 5px;
}

.plp10 {
    padding-left: 10px;
}

.plp15 {
    padding-left: 15px;
}

.plp20 {
    padding-left: 20px;
}

.plp25 {
    padding-left: 25px;
}

.plp30 {
    padding-left: 30px;
}

.plp35 {
    padding-left: 35px;
}

.plp40 {
    padding-left: 40px;
}

.plp45 {
    padding-left: 45px;
}

/*==================================
Commen CSS
================================= */
#NewGridPop table tr:hover { cursor : pointer; }
#taskAdditionInfo th, #taskAdditionInfo td { border-top: none !important; }
#loading { display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: rgba(255,255,255,0.8); z-index: 9999; }
#loadingcontent { display: table; position: fixed; left: 0; top: 0; width: 100%; height: 100%;}
#loadingspinner { display: table-cell; vertical-align: middle; width: 100%; text-align: center; font-size: larger; padding-top: 80px; }
.popupScroll{ max-height: 500px; overflow-y: auto; overflow-x: hidden;}
.multiselect-container input { height: 0px;}
.multiselect {
    text-align: left;
}
#dvReportingUser .arrowspace {
    padding-left: 0;
    padding-right: 0;
}
#dvReportingUser .reporting .btn {
    margin: 4px;
}

.k-upload-button {
    margin-left: 0px !important;
}
body, html, .row-offcanvas {
    background: #fff;
    font-family: 'open_sansregular';
    font-size: 13px;
}

body {
    overflow-x: hidden;
}

.k-pager-wrap .k-textbox, .k-pager-wrap .k-widget {
    margin: 0 1.6em;
}

.tdpadding {
    padding: 0px !important;
    border: 0 !important;
}

.rightpartspace {
    margin-top: 10px;
}

.maintitle {
    font-family: "open_sansbold";
    font-size: 18px;
    margin-bottom: 20px;
    display: block;
    clear: both;
    padding: 10px 0;
    color: #337ab7;
}

.border-bottom {
    border-bottom: solid 1px #cacaca;
}

.k-grid-header th.k-header > .k-link:not(*:root) {
    margin-left: -0.1em;
}

_:-ms-fullscreen, :root .k-grid-header th.k-header > .k-link {
    margin-left: -0.1em;
}

.k-grid > table > tbody > tr:hover, .k-grid-content > table > tbody > tr:hover {
    background: #fefeeb;
}
/*border-left:2px solid #58a301;*/
.k-grid > table > tbody > .k-alt, .k-grid-content > table > tbody > .k-alt {
    background: #fff;
}

.k-grid > table > tbody > .selected-row, .k-grid-content > table > tbody > .selected-row {
    background: #f3f3f3;
}

.k-header, .k-grid-header, .k-toolbar, .k-dropdown-wrap, .k-picker-wrap, .k-numeric-wrap, .k-grouping-header, .k-pager-wrap, .k-textbox, .k-button, .k-progressbar, .k-draghandle, .k-autocomplete, .k-state-highlight, .k-tabstrip-items .k-item, .k-panelbar .k-tabstrip-items .k-item, .km-pane-wrapper > .km-pane > .km-view > .km-content {
    background-color: #f2f2f2;
    background-image: none;
}

.k-grid tr td {
    border-color: #fff;
    border-style: none;
    border-bottom: 1px solid #dedede;
}

.displaynone {
    display: none;
}

.overlay {
    position: fixed;
    z-index: 99999999;
    top: 0px;
    left: 0px;
    background-color: #fff;
    width: 100%;
    height: 100%;
    filter: Alpha(Opacity=70);
    opacity: 0.70;
    -moz-opacity: 0.70;
}

* html .overlay {
    position: absolute;
    height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
    width: expression(document.body.scrollWidth > document.body.offsetWidth ? document.body.scrollWidth : document.body.offsetWidth + 'px');
}

.ProgressBar {
    z-index: 99999999;
    position: fixed;
    top: 40%;
    left: 45%;
}

* html .ProgressBar {
    position: absolute;
    margin-top: expression((document.body.scrollHeight / 4) + (0 - parseInt(this.offsetParent.clientHeight / 2) + (document.documentElement && document.documentElement.scrollTop || document.body.scrollTop)) + 'px');
    background-color: #989898;
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #2D425F none repeat scroll 0 0 !important;
    height: 2px;
    left: 0;
    position: fixed;
    top: 0;
    transition: width 1s ease 0s;
    z-index: 2000;
}

.k-header a {
    padding-left: 0px !important;
}

.table-hover > tbody > tr:hover {
    background-color: #fefeeb;
}

.simpletable > thead > tr > th {
    background-color: #f2f2f2 !important;
    border-top: solid 1px #DDDDDD !important;
}

.viewalllink {
    font-size: 13px;
    color: #445261;
    font-family: 'proxima_nova_rgregular';
    display: inline-block;
}

    .viewalllink span {
        font-size: 20px;
        line-height: 10px;
    }

.bordertop {
    border-top: solid 1px #ebebeb;
}

.form-control-static {
    font-family: 'open_sansbold';
}

.dmsform .form-group label {
    font-family: 'open_sansregular';
    color: #161616;
    font-size: 13px;
    font-weight: normal;
}

.dmsform .heightnone {
    min-height: inherit;
}

.dmsform .textareaheight {
    min-height: 64px;
}

.dmsform .textareaheight2 {
    min-height: 100px;
}

.dmsform input, .dmsform select {
    box-shadow: 0 0 0;
    border-radius: 4px;
    padding: 4px 8px;
}

.dmsform .form-control[disabled] {
    background: #eeeeee;
}

.statictaxt {
    font-family: 'open_sansregular';
    color: #528cc4;
    font-size: 13px;
    padding-top: 4px;
}


.errortext {
    color: #ff0000;
    font: 13px/14px 'open_sansregular';
    margin: 0px 0px;
    position: absolute;
    font-size: 11px;
}

.graybtn {
    background-color: #adadad;
    -webkit-box-shadow: inset 0 0 9px rgba(147,147,147,.46);
    -moz-box-shadow: inset 0 0 9px rgba(147,147,147,.46);
    box-shadow: inset 0 0 9px rgba(147,147,147,.46);
    color: #fff;
    font-size: 13px;
    transition: all 0.3s ease 0s;
}

    .graybtn:hover {
        background-color: #999999;
        color: #fff;
    }

.bluebtn {
    background-color: #528cc4;
    -webkit-box-shadow: inset 0 0 9px rgba(36,91,143,.46);
    -moz-box-shadow: inset 0 0 9px rgba(36,91,143,.46);
    box-shadow: inset 0 0 9px rgba(36,91,143,.46);
    font-size: 13px;
    transition: all 0.3s ease 0s;
    color: #fff;
}

    .bluebtn:hover {
        color: #fff;
        background: #2d5f8f;
    }

.bluebtnbig {
    background-color: #528cc4;
    -webkit-box-shadow: inset 0 0 9px rgba(36,91,143,.46);
    -moz-box-shadow: inset 0 0 9px rgba(36,91,143,.46);
    box-shadow: inset 0 0 9px rgba(36,91,143,.46);
    font-size: 13px;
    transition: all 0.3s ease 0s;
    color: #fff;
    font-size: 17px;
    padding: 6px 10px;
}

    .bluebtnbig:hover {
        color: #fff;
        background: #2d5f8f;
    }

.KendoFileUpload .k-upload-files {
    display: inline-block !important;
    border-top: 0px !important;
}

    .KendoFileUpload .k-upload-files li {
        border: 0px !important;
        line-height: 1.66 !important;
    }

.KendoFileUpload .k-upload-action {
    margin-top: -5px !important;
}

.KendoFileUpload .k-upload-button {
    margin: 4px !important;
}

.KendoFileUpload .k-filename {
    padding-right: 26px !important;
}

.KendoFileUpload .k-filename {
    max-width: 8.667em !important;
}

.FileDetails .form-group {
    margin-bottom: 7px !important;
}

.FileDetails .file-uplodamain {
    margin-bottom: 7px !important;
}

.FileDetails .common-error {
    height: 30px !important;
}

    .FileDetails .common-error p {
        margin: 8px 0px;
    }
/*==================================
Left Sidebar CSS
================================= */
#sidebar {
    width: inherit;
    min-width: 220px;
    max-width: 220px;
    background-color: #fff;
    float: left;
    padding-top: 0;
    border-right: 0px solid #bbbbbb;
    color: #000;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
}

.bluesidebar {
    background-color: #34495e !important;
    color: #fff !important;
    border: 0px solid transparent !important;
    border: 0px solid #ff0000;
}

#main {
    height: 100%;
}

.leftboxspace {
    padding: 15px 14px 15px 14px;
}

.lefttopbox {
    background: #3c658e;
    text-transform: uppercase;
    font-family: 'open_sansbold';
    font-size: 13px;
    display: block;
    clear: both;
    padding: 23px 45px 23 25px;
    position: relative;
    color: #fff;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
}

    .lefttopbox .email {
        text-transform: uppercase;
        font-family: 'open_sansbold';
        font-size: 13px;
        display: block;
        position: relative;
        color: #fff;
        text-overflow: ellipsis;
        text-transform: uppercase;
        white-space: nowrap;
        overflow: hidden;
    }

        .lefttopbox .email:hover {
            text-decoration: underline;
        }

    .lefttopbox a.profilelink {
        display: block;
        text-transform: capitalize;
        clear: both;
        font-family: 'open_sansregular';
        font-size: 13px;
        color: #fff;
        text-decoration: underline;
        transition: all 0.3s ease 0s;
    }

        .lefttopbox a.profilelink:hover {
            color: #d1e7fd;
            text-decoration: none;
        }

    .lefttopbox a.edit {
        position: absolute;
        color: #fff;
        right: 8px;
        top: 25px;
        background: #325476;
        padding: 2px 8px;
        border-radius: 3px;
        transition: all 0.3s ease 0s;
        font-size: 18px;
    }

        .lefttopbox a.edit:hover {
            color: #fff;
            background: #223d58;
        }

.prodetails ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

    .prodetails ul li {
        display: block;
        clear: both;
        overflow: hidden;
        margin-top: 10px;
        font-size: 12px;
        font-weight: normal;
        color: #669dd4;
        text-transform: uppercase;
    }

.prodetails {
    background: #365b80;
}

    .prodetails ul li span {
        display: block;
        clear: both;
        color: #ffffff;
        text-transform: capitalize;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .prodetails ul li a {
        display: block;
        clear: both;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #ffffff;
        text-transform: none;
        transition: all 0.3s ease 0s;
    }

        .prodetails ul li a:hover {
            text-decoration: underline;
            color: #d1e7fd;
        }

    .prodetails ul li:first-child {
        margin-top: 0px;
    }

.dragbox {
    background: #2e4154;
    transition: all 0.3s ease 0s;
}

    .dragbox:hover {
        background: #21303e;
    }

    .dragbox a {
        background: url(../images/drag-icon.png) left center no-repeat;
        font-family: 'open_sansbold';
        color: #fff;
        font-size: 12px;
        padding: 0px 2px 0px 37px;
        display: block;
        text-transform: uppercase;
    }

.birthlistbox {
    display: block;
    clear: both;
    border-bottom: solid 2px #2a3d51;
}

    .birthlistbox ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

        .birthlistbox ul li {
            display: block;
            clear: both;
            overflow: hidden;
            color: #95a5a6;
            font-weight: normal;
            padding: 6px 0px;
            border-top: solid 1px #2a3d51;
        }

            .birthlistbox ul li:first-child {
                border-top: solid 0px #2a3d51;
            }

            .birthlistbox ul li .date {
                width: 50px;
                float: left;
            }

            .birthlistbox ul li .name {
                margin-left: 70px;
                display: block;
                word-wrap: break-word;
            }

    .birthlistbox h3 {
        color: #67b3ff;
        font-family: 'open_sanslight';
        font-size: 16px;
        display: block;
        clear: both;
        margin-bottom: 10px;
    }

.footerbg {
    z-index: 0;
    border-top: solid 1px #b8b8b8;
}
/*==================================
Header CSS
================================= */
.headerbg {
    background: #fff;
    padding: 0px 0px 0px;
    position: relative;
    top: 0px;
    left: 220px;
    right: 0px;
    z-index: 999;
}

.logo {
    clear: both;
    overflow: hidden;
    text-align: left;
    max-width: 300px;
    margin: 0 auto;
    width: 42px;
}

    .logo .gog {
        float: left;
    }

    .logo .tagline {
        float: none;
        padding-left: 48px;
        font-family: 'open_sanssemibold';
        padding-top: 5px;
        text-transform: uppercase;
    }

        .logo .tagline span {
            display: block;
            color: #808080;
            font-family: "ropa_sansregular";
            font-size: 15px;
            text-transform: capitalize;
        }

.hdrightpart {
    margin-top: 8px;
    float: none;
    text-align: right;
    display: block;
    max-width: inherit;
    clear: both;
    overflow: hidden;
}

.alerticon {
    width: 35px;
    float: left;
}

    .alerticon a {
        display: inline-block;
        position: relative;
        padding: 8px;
    }

    .alerticon span {
        position: absolute;
        right: 8px;
        top: 3px;
    }

.searchbox {
    margin-left: 35px;
    display: block;
    margin-right: 53px;
}

    .searchbox .form-control {
        background: #f4f4f4;
        border: 0px;
        box-shadow: none;
        border-radius: 0px;
        font-family: 'proxima_nova_rgregular';
        min-width: inherit;
    }

    .searchbox .btn-default {
        background: #f4f4f4;
        border: 0px;
        padding: 7px 12px 6px;
    }

.leftmenuicon {
    width: 7%;
    float: left;
    display: inline-block;
}

    .leftmenuicon .btn-xs {
        padding: 3px 12px;
        background: #e3e3e3 !important;
        border: 0px !important;
        color: #365b80 !important;
        font-size: 19px;
    }

.topuserpart {
    display: inline-block;
    overflow: hidden;
    clear: both;
    max-width: 400px;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
}

    .topuserpart li {
        float: left;
    }

        .topuserpart li.userphoto {
            max-width: 154px;
            min-width: 154px;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inline-block;
            text-align: right;
        }

            .topuserpart li.userphoto a {
                display: block;
                clear: both;
            }

            .topuserpart li.userphoto img {
                width: 100%;
            }

            .topuserpart li.userphoto a span {
                color: #528cc4;
                font-size: 13px;
                margin-left: 4px;
                padding-left: 5px;
                padding-top: 7px;
                margin-left: 0px;
                display: block;
                overflow: hidden;
                padding-right: 10px;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

        .topuserpart li.iconlink {
            display: inline-block;
            border-left: solid 1px #dadada;
            font-size: 20px;
            color: #6a8eb1;
        }

            .topuserpart li.iconlink a {
                padding: 6px 10px 3px;
                display: inline-block;
                line-height: 18px;
            }

        .topuserpart li.userphoto .userimg {
            background: #e8e8e8;
            display: none;
            max-height: 30px;
            max-width: 36px;
            float: left;
            padding: 3px;
            border-right: solid 1px #dadada;
        }

        .topuserpart li.iconlink a:hover {
            background: #e8e8e8;
        }

.topcountpart {
    clear: both;
    display: block;
    max-width: 320px;
    overflow: hidden;
    display: none;
}

.datediv {
    min-width: 124px;
    max-width: 140px;
    display: inline-block;
    padding-left: 7px;
    border-left: solid 1px #eaeaea;
}

    .datediv i {
        color: #8e959c;
    }

#dtText {
    color: #8e959c;
    margin-left: 8px;
}

/*==Top Navigation CSS==*/
.inmobile {
    display: inline-block;
}

.inipad {
    display: none !important;
}

.topmenuicon {
    width: 10%;
    float: right;
}

.topnavbg {
    border-top: solid 1px #e5e5e5;
    border-bottom: solid 1px #e5e5e5;
    margin-top: 7px;
}

.topnav > li {
    padding: 0px 15px;
}

    .topnav > li > a {
        padding: 11px 0 6px;
        display: block;
        color: #2c3e50;
        font-family: 'open_sansbold';
        font-size: 14px;
        text-transform: uppercase;
        border-bottom: 1px solid transparent;
        position: relative;
    }

.topnav .dropdown-menu li a {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #2c3e50;
    font-size: 14px;
    border-bottom: 1px solid #dedede !important;
}

.topnav .dropdown-menu li:last-child a {
}

.topnav .dropdown-menu li a:hover {
   background-color: #215d92 !important;
   color: #fff;
}

.topnav > li > a:hover, .topnavbg li.active a {
    background-color: transparent !important;
}

.topnav > li > a:focus {
    background-color: transparent;
}

.topnav .dropdown-menu {
    box-shadow: 0 0 0;
}

.topnav .open > a, .topnav.open > a:hover, .topnav .open > a:focus {
    background-color: transparent;
    border-bottom: 0px;
    color: #528cc4;
}


.topnav li a .caret {
    color: #fff !important;
}

.prodetailstop ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

    .prodetailstop ul li {
        display: block;
        clear: both;
        overflow: hidden;
        margin-top: 3px;
        margin-bottom: 3px;
        font-size: 12px;
        font-weight: normal;
        color: #a1a1a1;
    }

        .prodetailstop ul li span {
            display: block;
            clear: both;
            color: #3c658e;
            text-transform: capitalize;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 12px;
        }

        .prodetailstop ul li a {
            display: block;
            clear: both;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            color: #3c658e;
            text-transform: none;
            transition: all 0.3s ease 0s;
        }

            .prodetailstop ul li a:hover {
                text-decoration: underline;
                color: #3c658e;
            }

        .prodetailstop ul li:first-child {
            margin-top: 0px;
        }



/*= 



.topnavbg li a ul li a{ padding:6px 0 6px;  color: #red; font-family: 'open_sansbold'; font-size: 12px; text-transform: uppercase; border-bottom: 1px solid transparent;}
.topnavbg li a span{ color: red; right: -7px; top: 8px;position: absolute;}
.topnavbg li a:hover, .topnavbg li.active a{ border-bottom: 1px solid #528cc4; background-color:transparent!important;}
.topnavbg li a:focus{ border-bottom: 1px solid #528cc4; background-color:transparent;}= */

/*==================================
Content CSS
================================= */
.panelbox .panel-heading {
    font-size: 18px;
    font-family: 'open_sansbold';
    background: #fff;
    color: #518ac2;
}

.anntitle {
    display: block;
    clear: both;
    overflow: hidden;
    padding-bottom: 3px;
}

    .anntitle a {
        font-family: 'open_sanssemibold';
        font-size: 18px;
        color: #fff;
        text-decoration: underline;
        transition: all 0.3s ease 0s;
    }

.announcementbox .boxcolor .panel-heading, .announcementbox-big .boxcolor .panel-heading {
    cursor: pointer;
}

    .announcementbox .boxcolor .panel-heading:hover a, .announcementbox-big .boxcolor .panel-heading:hover a {
        text-decoration: none;
        color: #eeeeee;
    }

.whitebox {
    min-height: 165px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,.12), 1px 2px 4px rgba(0,0,0,.08);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,.12), 1px 2px 4px rgba(0,0,0,.08);
    box-shadow: 0 0 4px rgba(0,0,0,.12), 1px 2px 4px rgba(0,0,0,.08);
}

.lrspace {
    padding: 10px;
    display: block;
    clear: both;
}

.whitebox h3 {
    display: block;
    clear: both;
}

.whitebox .titleblue {
    font-family: "open_sansbold";
    font-size: 18px;
    padding: 10px 10px;
    color: #337ab7;
}

.whitebox .titleblack {
    font-size: 18px;
    color: #212121;
    padding: 10px 10px;
}

.refresh-btn {
    position: relative;
    right: 8px;
    top: 8px;
    font-size: 20px;
    padding: 0px 0px 10px 8px;
    color: #528cc4;
    text-align: right;
}

.addicon {
    font-size: 18px;
    float: left;
    margin-top: 3px;
}

.filter {
    display: inline-block;
    margin-left: 20px;
}

    .filter .form-control {
        min-width: 250px;
        max-width: 300px;
        margin-left: 4px;
        font-size: 14px;
        font-weight: 400;
        color: #212121;
    }

    .filter label {
        font-size: 14px;
        font-weight: 400;
        color: #212121;
        margin-bottom: 0;
        margin-top: 6px;
    }

#horizontalTab {
    position: relative;
}

.announcementbox2 {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: block;
    clear: both;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 125px;
}

    .announcementbox2 li {
        border-bottom: solid 1px #dedede;
        display: block;
    }

        .announcementbox2 li a {
            padding: 5px 10px;
            display: block;
            clear: both;
            overflow: hidden;
        }

            .announcementbox2 li a .fileicon {
                padding: 0px;
                max-width: 50px;
                min-width: 50px;
                float: left;
            }

            .announcementbox2 li a .anndetails {
                margin-left: 60px;
                display: block;
                font-size: 14px;
                color: #727272;
            }

                .announcementbox2 li a .anndetails span {
                    color: #212121;
                    text-transform: uppercase;
                    display: block;
                    overflow: hidden;
                    margin-top: 4px;
                }

ul.iconlist {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: left;
}

    ul.iconlist li {
        color: #434343;
        display: inline-block;
        text-align: left;
        font-size: 13px;
        margin: 0px 0 8px 0px;
        overflow: hidden;
        padding: 3px 0;
        text-overflow: ellipsis;
        vertical-align: middle;
        white-space: nowrap;
        width: 45%;
    }

        ul.iconlist li i {
            margin: 0 5px 0 0;
            vertical-align: middle;
        }

            ul.iconlist li i.complete {
                color: #2ecc71;
                font-size: 16px;
            }

            ul.iconlist li i.approve {
                color: #528cc4;
                font-size: 16px;
            }

            ul.iconlist li i.decline {
                color: #ff7878;
                font-size: 16px;
            }

            ul.iconlist li i.complete, .k-grid .k-grid-content table tbody tr td a i.complete {
                color: #2ecc71;
                font-size: 16px;
            }

            ul.iconlist li i.approve, .k-grid .k-grid-content table tbody tr td a i.approve {
                color: #528cc4;
                font-size: 16px;
            }

            ul.iconlist li i.decline, .k-grid .k-grid-content table tbody tr td a i.decline {
                color: #ff7878;
                font-size: 16px;
            }

.bluebox {
    background: #365b80;
    padding: 0px;
    margin-top: 0px;
}

    .bluebox a {
        color: #fff;
        font-size: 14px;
        padding: 10px 8px;
        display: block;
    }

        .bluebox a i {
            float: left;
            width: 22px;
            font-size: 20px;
            color: #669bd0;
            margin-top: 0px;
        }

        .bluebox a span {
            margin-left: 35px;
            margin-right: 34px;
            display: block;
        }

        .bluebox a .count {
            float: right;
            max-width: 80px;
            padding: 4px 5px 4px 4px;
            color: #fff;
            border-radius: 4px;
            margin-top: -3px;
            font-family: 'open_sansregular';
        }

            .bluebox a .count i {
                color: #fff;
                font-size: 20px;
            }

.meterbox {
    display: block;
    clear: both;
}

    .meterbox .title {
        background: #4874a0;
        padding: 3px 0px;
        text-align: center;
        font-size: 12px;
        color: #9bc9f6;
        font-family: "open_sansbold";
        text-transform: uppercase;
    }

    .meterbox .meter {
        padding: 8px;
        display: block;
        clear: both;
    }

.menulink ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

    .menulink ul li {
        display: block;
        clear: both;
        overflow: hidden;
        font-size: 12px;
        font-weight: normal;
        color: #669dd4;
        background: #365b80 !important;
        transition: all 0.3s ease 0s;
    }

        .menulink ul li:hover {
            background: #305478 !important;
        }

        .menulink ul li a {
            padding: 10px 10px;
            display: block;
            clear: both;
            color: #ffffff;
            font-size: 14px;
            border-bottom: solid 1px #446d96;
            background: #365b80 !important;
        }

            .menulink ul li a i {
                font-size: 17px;
                float: left;
                width: 22px;
                color: #669bd0;
                margin-top: 0px;
            }

            .menulink ul li a span {
                margin-left: 27px;
                margin-right: 34px;
                display: block;
            }

            .menulink ul li a .count {
                background: #ff7878;
                border-radius: 4px;
                color: #ffffff;
                float: right;
                font-family: "open_sansregular";
                margin-top: 0px;
                max-width: 80px;
                padding: 3px 5px 2px 4px;
                font-size: 11px;
            }

.heading03 {
    color: #337ab7;
    font-family: "open_sansbold";
    font-size: 18px;
    padding: 10px;
}

#Notepad {
    margin-top: -347px;
}

.fa-stack {
    width: 1em !important;
}

.doughnut-legend li span {
    width: 1em;
    height: 1em;
    display: inline-block;
    margin-right: 5px;
}

.doughnut-legend {
    list-style: none;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    #Notepad {
        margin-top: -324px;
    }
}

#Notepad {
    margin-top: -318px\9;
}

.right-popup {
    background: #f1f1f1;
    border: 1px solid #989898;
    border-radius: 10px;
    box-shadow: 0 0 3px 3px #bababa;
    float: left;
    margin-left: 215px;
    padding: 8px;
    position: absolute;
    width: 834px;
    z-index: 999;
    display: none;
}

.disnone {
    display: none;
}

#g1, #g2 {
    display: inline-block;
    height: 80px;
    width: 100px;
    float: left;
    color: #fff !important;
}

    #g1 text, #g2 text {
        fill: #ffffff !important;
    }

.day {
    color: #9bc9f6;
    font-size: 12px;
    margin-left: 110px;
    margin-top: 7px;
}

    .day span {
        color: #fff;
    }

/* CSS Document */

.fab {
    cursor: pointer;
}

.fab-backdrop {
    color: rgba(255, 255, 255, 0);
}

.fab-primary, .fab-secondary {
    transition: all 0.35s ease-in-out;
}

.fab.active .fab-primary {
    opacity: 0;
    transform: rotate(225deg);
}

.fab-secondary {
    opacity: 0;
    transform: rotate(-225deg);
}

.fab.active .fab-secondary {
    opacity: 1;
    transform: rotate(0);
    margin-top: -2px;
}

.fab ul.dropdown-menu .tooltip {
    display: none !important;
}

#inbox .show-on-hover:hover > ul.dropdown-menu {
    display: block;
}

#inbox .show-on-hover {
    position: fixed;
    bottom: 15px;
    right: 26px;
    z-index: 9;
}

#inbox .btn-io {
    border-radius: 50%;
    height: 54px;
    width: 54px;
    padding: 0 !important;
    box-shadow: 0px 3px 7px 0px rgba(202, 124, 124, 0.72);
}

#inbox .dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 1px;
    margin-bottom: -5px;
    padding-bottom: 30px;
}

#inbox .dropdown-menu-right {
    right: 0 !Important;
    left: auto !Important;
}

#inbox .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 50px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: center;
    list-style: none;
    background-color: rgba(255, 255, 255, 0) !Important;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0) !Important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0) !Important;
}

#inbox .fa-iox {
    font-size: 20px;
}

#inbox .dropdown-menu > li > a {
    display: block;
    padding: 0;
    padding-top: 4px;
    margin-top: 11px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    background: #fff;
    white-space: nowrap;
    width: 40px;
    height: 40px;
    border: solid 1px #ccc;
    border-radius: 50px;
    font-size: 21px;
    box-shadow: 0px 3px 7px 0px rgba(203, 203, 203, 0.72);
}

#inbox .dropdown-menu > li:first-child > a {
    background: #6E4320 !important;
    color: #fff !important;
}

#inbox .dropdown-menu > li:last-child > a {
    background: #D3A516;
    color: #fff;
}

#inbox .dropdown-menu > li:nth-child(3) > a {
    background: #3C80F6;
    color: #fff;
}

#inbox .dropdown-menu > li:nth-child(2) > a {
    background: #2CAC26;
    color: #fff;
}

#inbox .dropdown-menu > li .fa {
    padding-top: 4px;
}

#inbox .fa-iosm {
    margin-top: 7px;
}

#favorite {
    position: relative;
    width: 100%;
    display: block;
    overflow: auto;
}

    #favorite li {
        width: 33.33%; /* nice 3 columns */
        float: left;
        padding: 0; /* should have zero paddng/margin */
        margin: 0;
        background: none !important;
        color: black none !important;
        display: block !important;
        overflow: auto;
        padding: 5px;
        clear: none !important;
    }

    #favorite img {
        padding: 0px !important;
    }

    #favorite li a {
        background: none !important;
        color: black !important;
        padding: 0px !important;
        display: inline-block;
        vertical-align: middle !important;
        border: none !important;
        margin: 5px;
    }

.modal-text {
    padding: 0 10px;
    color: #212121;
}

.pop-container {
    position: relative;
    margin-bottom: 10px;
    background-color: inherit !important;
    height: 205px;
    overflow-y: scroll;
}



/*.announcementbox .boxcolor:nth-child(even) .panel-heading, .announcementbox .boxcolor:nth-child(even) .panel-primary,  .announcementbox-big .boxcolor:nth-child(even) .panel-heading, .announcementbox-big .boxcolor:nth-child(even) .panel-primary {background: #5cb85c; border-color:#5cb85c;}
*/ /*.announcementbox .boxcolor:nth-child(3) .panel-heading, .announcementbox .boxcolor:nth-child(3) .panel-primary{background: #d9534f; border-color:#d9534f; }
*/
/*.announcementbox .boxcolor:nth-child(even) span, .announcementbox-big .boxcolor:nth-child(even) span{color: #5cb85c; transition: all 0.3s ease 0s;}
*/ /*.announcementbox .boxcolor:nth-child(3) span{color: #d9534f; transition: all 0.3s ease 0s;}*/
/*.announcementbox .boxcolor:nth-child(even):hover span, .announcementbox-big .boxcolor:nth-child(even) span{color: #287828;}
*/ /*.announcementbox .boxcolor:nth-child(3):hover span{color: #a73430;}*/
.announcementbox {
    height: 132px;
    overflow: hidden;
}

.announcementbox-big {
    height: auto;
}

    .announcementbox p, .announcementbox-big p {
        margin: 0px;
        padding: 0px;
        height: 36px;
        overflow: hidden;
    }

.uploadbox {
    display: block;
    clear: both;
    overflow: hidden;
    padding: 5px 0px;
}

.upleftpart {
    width: 100%;
    float: none;
    min-height: auto;
    max-height: auto;
    overflow-y: auto;
    border: solid 1px #c4c4c4;
}

.uprightpart {
    width: 100%;
    float: none;
    min-height: auto;
    max-height: auto;
    border: solid 1px #c4c4c4;
}

.uploadbox .title {
    display: block;
    clear: both;
    overflow: hidden;
    background: #f5f5f5;
    border-bottom: solid 1px #c4c4c4;
    padding: 8px 12px;
    color: #161616;
    font-size: 13px;
    font-family: 'open_sansbold';
}

    .uploadbox .title span {
        font-family: 'open_sansregular';
    }

.uploadform .form-control {
    background: #fcfcfc;
    box-shadow: 0 0 0;
    border-radius: 0px;
    height: 30px;
    padding: 4px 8px;
}

    .uploadform .form-control[disabled] {
        background: #eeeeee;
    }

.dmsform textarea.form-control {
    height: auto;
}

.small-title {
    width: 100%;
    float: left;
    padding: 20px 0 10px;
    font-size: 16px;
    color: #e67333;
}


/*==Login CSS==*/
.login-box {
    margin-top: 20px;
    display: block;
    clear: both;
    overflow: hidden;
}

.loginlogo {
    display: block;
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
}

.login-panel {
    display: block;
    clear: both;
    overflow: hidden;
}


.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

.file-upload {
    height: 30px !important;
    cursor: not-allowed;
    font-size: 13px;
}

.file-upload-btn {
    height: 30px !important;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 13px !important;
    margin-top: 23px !important;
    border: 1px solid #a6a6a6;
    background: #fcfcfc;
    background: -moz-linear-gradient(top, #fcfcfc 0%, #e0e0e0 100%);
    background: -webkit-linear-gradient(top, #fcfcfc 0%,#e0e0e0 100%);
    background: linear-gradient(to bottom, #fcfcfc 0%,#e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#e0e0e0',GradientType=0 );
    color: #303030;
    font-size: 12px;
    border-radius: 0px;
}
/* .file-uplodamain{min-height:inherit !important; padding-bottom:15px !important;} */
.modal-download {
    font-size: 14px;
    margin-top: 5px;
    float: left;
    border-radius: 3px;
}

/* Sub Page */
.inner-sidebar {
    background: #ffffff !important;
    border-right: 1px solid #bbbbbb !important;
    color: #2c3e50 !important;
}

.white-bg {
    background: #ffffff !important;
}

.left-sublink {
    width: auto;
    padding: 15px 0;
}

.doc-row {
    /*width: 100%;*/
    float: left;
    background: #f2f2f2;
}

    .doc-row .btn1 {
        width: auto;
        float: left;
        padding: 5px 10px;
        border: 1px solid #a6a6a6;
        background: #fcfcfc;
        background: -moz-linear-gradient(top, #fcfcfc 0%, #e0e0e0 100%);
        background: -webkit-linear-gradient(top, #fcfcfc 0%,#e0e0e0 100%);
        background: linear-gradient(to bottom, #fcfcfc 0%,#e0e0e0 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#e0e0e0',GradientType=0 );
        color: #303030;
        font-size: 12px;
        margin: 9px 0px;
    }

        .doc-row .btn1:hover {
            background: #fff;
        }

    .doc-row .btn2 {
        float: right;
    }

.bredcrumb-cus {
    width: 100%;
    float: left;
    color: #e67333;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d1d1d1;
    border-top: 1px solid #d1d1d1;
}

    .bredcrumb-cus i {
        color: #6c6b6b;
        margin: 0 10px;
    }

    .bredcrumb-cus a {
        color: #e67333;
        text-decoration: none;
    }

        .bredcrumb-cus a:hover {
            color: #000;
        }

.doc-small-btn {
    margin: 9px -1px 9px 0 !important;
    padding: 3px 6px !important;
}

.table-grid {
    width: 100%;
    float: left;
    height: 40px;
    border-bottom: 1px solid #ebebeb;
    text-align: center;
    line-height: 40px;
}

.table-grid-hover {
    background: #fefeeb;
    border-left: 0px solid #58a301;
}

.table-grid-select {
    background: #f3f3f3;
}

.search-expand {
    width: 100%;
    float: left;
    background: #f8f8f8;
    border-bottom: 3px solid #d9d9d9;
    border-top: 1px solid #d1d1d1;
    padding: 5px 15px 15px;
    display: none;
}

.exapand-title {
    width: 100%;
    float: left;
    font-weight: 600;
    color: #161616;
    font-size: 13px;
}

.search-content {
    width: 100%;
    float: left;
}

    .search-content .col1 {
        width: calc(100% - 0px);
        float: left;
    }

    .search-content .col2 {
        width: calc(100% - 0px);
        float: left;
    }

    .search-content .col3 {
        width: calc(100% - 26px);
        float: left;
        position: relative;
    }

    .search-content .col2-1 {
        width: auto;
        float: left;
        margin-right: 15px;
    }

    .search-content .col2-2 {
        width: auto;
        float: left;
    }

.extra-lg .search-content .col2-1 {
    margin-right: 0px;
}

.extra-lg .search-content .col2-2 {
    width: 100%;
}

.search-content .col3-icon {
    width: auto;
    float: left;
    position: absolute;
    right: -30px;
    top: 25px;
    cursor: pointer;
}

.expander label {
    font-size: 13px !important;
    font-weight: normal;
}

.fm-control {
    background: #fcfcfc none repeat scroll 0 0;
    border-radius: 0;
    box-shadow: 0 0 0;
    height: 30px;
    padding: 4px 12px 6px;
}

    .fm-control:focus {
        box-shadow: none;
    }

.search-button2 {
    width: auto;
    float: right;
    padding-top: 20px;
}

.extra-lg .search-button2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.expand-close {
    position: absolute;
    right: 15px;
    top: 0px;
    font-size: 18px;
}

    .expand-close a {
        color: #666666;
        text-decoration: none;
    }

        .expand-close a:hover {
            color: #437cb3;
        }

.expander .form-group {
    margin-bottom: 0px;
    min-height: inherit;
}

.exmb {
    margin-bottom: 15px;
}

.exmb2 {
    margin-bottom: 5px;
}

.extra-lg .exmb {
    margin-bottom: 0px;
}

.upload-expand {
    width: 100%;
    float: left;
    background: #f8f8f8;
    border-bottom: 3px solid #d9d9d9;
    border-top: 1px solid #d1d1d1;
    padding: 5px 15px 15px;
    display: none;
}

    .upload-expand .file-upload-btn {
        margin-top: 24px !important;
    }

    .upload-expand .form-group {
        margin-top: 15px;
        margin-bottom: 5px;
        position: relative;
    }

    .upload-expand .errortext {
        position: absolute;
        left: 15px;
        font-size: 11px;
    }

    .upload-expand .input-group {
        margin-top: 15px;
    }

    .upload-expand textarea {
        height: 103px;
    }

.alert-cus {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 10px;
}

.validation-summary-errors ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    border-radius: 4px;
    margin-bottom: 10px;
}

    .validation-summary-errors ul li {
        color: #a94442;
        padding: 4px 15px;
    }

footer {
    width: 100%;
    float: left;
    font-size: 12px;
    padding: 10px 8px 10px;
    text-align: center;
    line-height: 25px;
}

.lb-smalltext {
    font-size: 10px !important;
}

#login footer, #login .powered, #login .copyright {
    text-align: center !important;
}

.footerborder {
    border-top: 1px solid #b4b4b4;
    margin-top: 8px;
    overflow: hidden;
}

.iconspace {
    margin-right: 6px;
}

.leftmenulist .dropdown-menu {
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    float: none;
    margin: 0;
    padding-top: 0;
    position: static;
    font-size: 13px;
}

.leftmenulist > li {
    display: block;
    clear: both;
    border-bottom: solid 1px #dedede;
}

    .leftmenulist > li a {
        color: #365b80;
        display: block;
        font-family: 'open_sanssemibold';
        font-size: 13px;
    }

    .leftmenulist > li ul {
        background: #f7f7f7 !important;
    }

        .leftmenulist > li ul li {
            border-top: solid 1px #dedede;
        }

            .leftmenulist > li ul li a {
                padding-top: 8px;
                padding-bottom: 8px;
                font-family: 'open_sansregular';
                padding-left: 30px;
                color: #000;
            }

.leftmenulist .dropdown-backdrop {
    display: none;
}

.leftmenulist .glyphicon {
    font-size: 8px;
    margin-top: 5px;
    float: right;
}

.leftmenulist .glyphicon-triangle-bottom {
    display: inline-block;
}

.leftmenulist .glyphicon-triangle-top {
    display: none;
}

.leftmenulist .open .glyphicon-triangle-top {
    display: inline-block;
}

.leftmenulist .open .glyphicon-triangle-bottom {
    display: none;
}

.leftmenulist > li ul li:hover a, .leftmenulist > li ul li.active a {
    background: #fff !important;
    color: #000 !important;
}

.leftmenulist > li > a:hover, .leftmenulist > li > a:focus {
    background: #eeeeee;
}

.leftmenulist > li.active a {
    background: #eeeeee !important;
    color: #000 !important;
}

.switch {
    position: relative;
    height: 26px;
    width: 120px;
    background: #eeeeee;
    border-radius: 3px;
}

.switch-label {
    position: relative;
    z-index: 2;
    width: 58px;
    line-height: 26px;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.35);
    text-align: center;
    color: #a1a1a1 !important;
    cursor: pointer;
}

    .switch-label:active {
        font-weight: bold;
    }

.switch-label-off {
    padding-left: 2px;
}

.switch-label-on {
    padding-right: 2px;
}

.switch-input {
    display: none;
}

    .switch-input:checked + .switch-label {
        color: rgba(0, 0, 0, 0.65);
        -webkit-transition: 0.15s ease-out;
        -moz-transition: 0.15s ease-out;
        -o-transition: 0.15s ease-out;
        transition: 0.15s ease-out;
        text-align: center;
        color: #fff !important;
    }

    .switch-input:checked + .switch-label-on ~ .switch-selection {
        /* Note: left: 50% doesn't transition in WebKit */
        left: 60px;
    }

.switch-selection {
    display: block;
    position: absolute;
    z-index: 1;
    top: 2px;
    left: 2px;
    width: 58px;
    height: 22px;
    background: #65bd63;
    border-radius: 3px;
    background: #518ac2;
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -o-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out;
}

.switch-blue .switch-selection {
    background: #3aa2d0;
    background-image: -webkit-linear-gradient(top, #4fc9ee, #3aa2d0);
    background-image: -moz-linear-gradient(top, #4fc9ee, #3aa2d0);
    background-image: -o-linear-gradient(top, #4fc9ee, #3aa2d0);
    background-image: linear-gradient(to bottom, #4fc9ee, #3aa2d0);
}


.icon-invisible {
    visibility: hidden;
}

.mandatory {
    font-size: 11px;
    color: red;
    margin-left: 3px;
    padding-top: -2px;
    line-height: 11px;
}

.leftform {
    border-top: solid 1px #dedede;
    padding-top: 10px;
    margin-top: 8px;
}

    .leftform label {
        font-weight: 400;
        color: #3c658e;
        font-size: 12px;
        margin-bottom: 0px;
        font-family: 'open_sanssemibold';
    }

    .leftform .form-control-static {
        font-size: 14px;
        color: #5f5f5f;
        padding-top: 2px;
        font-weight: 400;
        font-family: 'open_sansregular';
        line-height: 27px;
    }

    .leftform .form-group {
        margin-bottom: 3px;
    }

.chat-window {
    display: none;
}

.extra-lg .bdr {
    border-bottom: 1px solid #c4c4c4;
}

.sharedwith .fa {
    font-size: 20px;
}

td.name span {
    font-size: 11px;
    color: #337ab7;
}

.sharedwithtable {
    max-height: 235px;
    overflow: auto;
    border-bottom: 1px solid #cecece;
    border-top: 1px solid #cecece;
}

.error-box .fa {
    color: #bababa;
}

.error-box .error {
    background-color: #fff;
    padding: 40px;
}

.error-box h1 {
    font-size: 50px;
    font-weight: 800;
}

.error-box .fa {
    font-size: 12em;
}


.sharedbox a i {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    font-size: 18px !important;
    margin-left: -6px;
}

.sharedboxgray {
    background: #f2f2f2;
    transition: all 0.3s ease 0s;
    padding: 0px;
    margin-top: 5px;
}

    .sharedboxgray:hover {
        background: #e6e6e6;
    }

    .sharedboxgray a {
        color: #616161;
        font-size: 14px;
        padding: 10px 15px 10px 8px;
        display: block;
    }

        .sharedboxgray a i {
            float: left;
            font-size: 19px;
            width: 23px;
            -ms-transform: rotate(180deg); /* IE 9 */
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
            color: #979797;
            margin-top: 0px;
        }

        .sharedboxgray a span {
            margin-left: 33px;
            margin-right: 34px;
            display: block;
        }

        .sharedboxgray a .count {
            float: right;
            max-width: 80px;
            background: #ff7878;
            padding: 4px 5px 4px 4px;
            color: #fff;
            border-radius: 4px;
            font-family: 'open_sansregular';
            font-size: 11px;
        }
/*==Add Task CSS== */
.formmain label {
    color: #4e4e4e;
    font: 14px/20px 'open_sansregular';
}

    .formmain label.checkbox-inline {
        font: 14px/20px 'open_sansregular';
        color: #4e4e4e;
    }

.formmain .form-group {
    margin-bottom: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

    .formmain .form-group.yellowbg .details {
        font-size: 11px;
        font-family: 'open_sansregular';
        color: #343434;
        display: block;
        margin-bottom: 0px;
    }

    .formmain .form-group .details {
        display: none;
    }

.formmain .form-control {
    padding: 5px 7px;
}

.notetext {
    color: #3399cc;
    font: 12px/14px 'open_sansregular';
    margin: 4px 0px;
    position: absolute;
}

.mtpminus {
    margin-top: -7px;
}

.plusicon {
    font-size: 25px;
    color: #acacac;
    float: left;
    margin-left: 10px;
}

.closenotepad {
    font-size: 25px;
    color: #acacac;
    margin-top: -6px;
    float: left;
    margin-left: 10px;
}

.reporting .btn {
    /*width: 44px;*/
    margin: 6px;
}

.file-upload-btn2 {
    margin-top: 0px !important;
}

.formmain .control-label span {
    color: #ff0000;
}

.language {
	font-size: 12px;
	float: right;
	margin-top: 8px;
	margin-right: 25px;
}

@media (min-width: 480px) {
    /*==Header CSS== */

    /*==Banner CSS== */

    /*==Content CSS== */
    .doc-row .btn1 {
        padding: 5px 20px;
    }

    ul.iconlist {
        text-align: left;
    }

        ul.iconlist li {
            text-align: left;
            width: 86px;
            margin: 0px 0 8px 0px;
        }

    .filter .form-group {
        float: left;
        width: 50px;
        display: inline-flex;
        margin-bottom: 0px;
    }

    .filter .form-control {
        float: left;
        min-width: 250px;
    }
}
/*==Footer CSS== */

}

@media (min-width: 640px) {
    /*==Header CSS== */

    /*==Banner CSS== */

    /*==Content CSS== */
    .announcementbox {
        height: 125px;
    }

    .search-content .col1 {
        width: calc(16% - 15px);
        margin-right: 15px;
    }

    .search-content .col2 {
        width: calc(84% - 15px);
        margin-right: 15px;
        margin-top: 24px;
    }

    .search-content .col3 {
        width: calc(85% - 41px);
        clear: both;
        margin-right: 15px;
    }

    .extra-lg .search-content .col2 {
        margin-top: -2px;
    }

    /*==Footer CSS== */
}

@media (min-width: 768px) {
    .chat-window {
        display: block;
    }

    .KendoFileUpload .k-filename {
        max-width: 16.667em !important;
    }

    /*==Left Sidebar CSS==*/
    .right-popup {
        display: none;
        width: 520px;
    }

    .linksapce {
        margin-left: 180px;
    }
    /*-- .row-offcanvas { padding-top: 127px;}
#sidebar {padding-top: 128px;}*/
    .row-offcanvas-left.active #main {
        width: calc(100% - 220px);
    }

    .row-offcanvas-left #main {
        padding-left: 220px;
    }
    /*==Header CSS== */
    .headerbg {
        position: relative;
        top: 0px;
        left: 0px;
        right: 0px;
        z-index: 1000;
    }

    .logo {
        clear: both;
        overflow: hidden;
        text-align: left;
        width: inherit;
    }

    .topcountpart {
        display: inline-block;
    }

    .logo .gog {
        float: left;
        top: 4px;
        position: relative;
        width: 195px;
}
    }

    .logo .tagline {
        float: left;
        padding-left: 20px;
        padding-top: 12px;
    }

    .topnav > li > a {
        border-bottom: 4px solid transparent;
    }

        .topnav > li > a:hover, .topnav > li.active > a {
            color: #528cc4;
        }

        .topnav > li > a:focus {
            color: #528cc4;
            background-color: transparent !important;
        }

    .topnav li a .caret {
        color: #000 !important;
        right: -8px !important;
    }

    .hdrightpart {
        margin-top: 15px;
        float: right;
        display: block;
        max-width: 410px;
    }

    .searchbox {
        margin-left: 35px;
        margin-right: inherit;
    }

        .searchbox .form-control {
            min-width: 195px;
        }

    .hdrightpart {
        margin-top: 19px;
        text-align: left;
    }

    ul.iconlist {
        text-align: right;
    }

        ul.iconlist li {
            text-align: left;
            width: 86px;
        }

    .scrollform {
        max-height: 405px;
        overflow-y: auto;
    }

    topuserpart li.userphoto a span {
        margin-left: 45px;
    }

    .topuserpart {
        background-color: #f4f4f4;
    }

        .topuserpart li.userphoto .userimg {
            display: inline-block;
        }

        .topuserpart li.userphoto {
            min-width: 200px;
            max-width: 200px;
            text-align: left;
        }

    .hdrightpart {
        text-align: right;
    }
    /*==Top Navigation CSS==*/
    .inmobile {
        display: none;
    }

    .inipad {
        display: inline-block !important;
        float: left;
        margin-top: 5px;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

        .inipad .glyphicon {
            padding: 7px 4px 8px;
        }

    /*==Login CSS==*/
    .login-box {
        margin-top: 15%;
    }

    .loginlogo {
        margin-bottom: 30px;
    }

    .announcementbox {
        height: 146px;
    }

    .search-content .col1 {
        width: calc(25% - 15px);
        margin-right: 15px;
    }

    .search-content .col2 {
        width: calc(75% - 15px);
        margin-top: 24px;
    }

    .search-content .col3 {
        width: calc(85% - 41px);
        clear: none;
    }

    .powered {
        text-align: right;
    }

    .copyright {
        text-align: center;
    }

    .extra-lg .search-content .col2 {
        width: calc(64% - 15px);
        margin-right: 3px;
    }

    .extra-lg .search-button2 {
        padding-top: 21px;
    }

    .refresh-btn {
        position: absolute;
        right: 8px;
        text-align: right;
        top: 8px;
    }

    ul.iconlist li {
        margin: 3px 0 2px 9px;
    }


    * {
        margin: 0;
    }

    html, body {
        height: 100%;
    }
    .bg-warper{
        background-image: url(../images/bc-home.jpg);
        background-size:cover;
        height: 100vh;
        position:absolute;
        top:0px;
        width:100%;
        padding-top:85px;
    }
    .log-header{
        position:relative;
        background:#408fdc;
        padding:30px 0px;
        text-align:center;
        z-index:1;
    }
    .top-text{
        color:#fff;
        font-size:18px;
        font-weight:500;
    }
    .logo-warper{
        position:absolute;
        left:0px;
        top:15px;

    }
    .header-top{
        float:left;
    }
    .footer-nav{
        position:absolute;
        bottom:0px;
        background:#408fdc;
        padding:25px 0px;
        width:100%;
        text-align:center;
        left:0px;
    }
    ul.f-ul{
        display: inline-block; 
        list-style-type:none;
    }
    .f-ul li{
        list-style:none;
        float:left;
        list-style-type:none;
        display:inline-block;
    }
    .f-ul a{
       text-decoration:none;
       padding:10px 20px;
       color:#fff;
    }
    .copy-right{
        color:#fff;
    }
    .pd-top-50{
        padding-top:50px;
    }
    .fix{
        clear:both;
    }
    .page-wrap {
        min-height: 100%;
        /* equal to footer height */
        margin-bottom: -45px;
    }

        .page-wrap:after {
            content: "";
            display: block;
        }

        .site-footer, .page-wrap:after {
            /* .push must be the same height as footer */
            height: 45px;
        }

    .site-footer { 
        text-align:center;
    }

    .footerbg {
        color: #848484;
        border-top: solid 1px #b8b8b8;
    }

    .fab ul.dropdown-menu .tooltip {
        display: block !important;
    }
    .language {		
	    float: none;
		margin-right: 0px;
		margin-top: 0px;
	}
}

@media only screen and (min-width:0px) and (max-height:768px) {
    /*.chat-window {
        display: none !important;
    }*/
}

@media (min-width: 992px) {

    /*==Commen CSS==*/
    .right-popup {
        display: none;
        width: 730px;
    }

    /*==Content CSS== */
    .uploadbox {
        padding: 5px 20px;
    }

    .upleftpart {
        width: 35%;
        float: left;
        min-height: 460px;
        max-height: 380px;
        overflow-y: auto;
    }

    .uprightpart {
        width: 65%;
        float: right;
        min-height: 460px;
        max-height: 380px;
    }

    .announcementbox {
        height: 147px;
    }

    .arrowspace {
        margin-top: 27px;
    }
}

@media (min-width: 1100px) {
    /*==Header CSS== */
    .right-popup {
        width: 834px;
    }

    .inipad {
        display: inline-block !important;
    }

    .search-content .col1 {
        width: calc(25% - 15px);
    }

    .search-content .col2 {
        width: calc(75% - 15px);
    }

    .search-content .col3 {
        width: calc(85% - 41px);
    }

    .logo .gog {
        max-width: 100%;
    }

    .logo .tagline {
        padding-top: 20px;
    }
    /*==Select Document Popup==*/
    .extra-lg .modal-lg {
        width: 85%;
    }

    .extra-lg .upleftpart {
        width: 20%;
    }

    .extra-lg .uprightpart {
        width: 80%;
    }

    .extra-lg .search-content .col2 {
        width: calc(58% - 15px);
        margin-right: 15px;
    }

    .extra-lg .search-button2 {
        padding-top: 21px;
        float: left;
    }

    .extra-lg .search-content .col2-2 {
        width: auto;
        margin-left: 10px;
    }
}

@media (min-width: 1101px) {
    .rightpartspace {
        margin-top: 6px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 15px;
        min-height: calc(100vh - 185px);
    }

    /*.rightpartspace {
        margin-top: 6px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 15px;
    }*/

    .leftmenuicon {
        display: none;
    }

    .rightpartspace2 {
        margin-top: 0px;
        padding-bottom: 15px;
    }

    .btn-set {
        margin-top: 175px;
    }
}

@media (min-width: 1200px) {
    .extra-lg .search-content .col2 {
        width: calc(66% - 15px);
        margin-right: 15px;
    }

    .extra-lg .search-content .col1 {
        width: calc(24% - 15px);
    }
}

@media (min-width: 1251px) {
    .extra-lg .search-content .col2 {
        margin-top: 24px;
    }
}

@media (min-width: 1300px) {
    .search-content .col1 {
        width: calc(18% - 15px);
    }

    .search-content .col2 {
        width: calc(48% - 15px);
    }

    .search-content .col3 {
        width: calc(26% - 41px);
    }

    .exmb {
        margin-bottom: 0px;
    }

    .exmb2 {
        margin-bottom: 0px;
    }

    .extra-lg .search-content .col2 {
        width: calc(65% - 15px);
    }
}

@media (min-width: 1300px) {
    .extra-lg .search-content .col2 {
        width: calc(65% - 15px);
    }
}
/*
 * off Canvas sidebar
 * --------------------------------------------------
 */
.row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    width: calc(100% + 220px);
}

.row-offcanvas-left {
    left: -220px;
}

    .row-offcanvas-left.active {
        left: 0;
    }

.sidebar-offcanvas {
    position: absolute;
    top: 0;
}

.btn-set {
    margin-top: 160px;
}

    .btn-set .btn {
        clear: both !important;
        margin-top: 15px;
    }


@media screen and (max-width: 1100px) {
    .headerbg {
        left: 0px;
    }
}

@media screen and (max-width: 1023px) {
    .btn-set {
        margin-top: 100px;
    }
}

@media screen and (max-width:767px) {
    .logo {
        display: block;
    }

    .upload-expand .input-group {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .upload-expand .file-upload-btn {
        margin-top: 24px !important;
    }

    .btn-set {
        margin-top: 00px;
    }

    #sidebar {
        padding-top: 0;
        position: relative;
    }
}



@media screen and (max-width:359px) {
    .radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
        margin-left: 2px;
    }
}

.field-validation-error {
    color: #b94a48;
    display: inline;
    *display: inline;
    padding-left: 3px;
    vertical-align: middle;
    font-weight: 500;
    *zoom: 1;
}

.paddingt7
{
    padding:7px;
}

.mas {
    white-space: pre-wrap;
}
.k-loading-image {
        display: none;
    }

.entry:not(:first-of-type)
{
    margin-top: 10px;
}